$color-primary-dark: #1d2d44;
$color-primary-blue: #0b3954;
$color-primary-light: #2a567a;
$color-white: #e0fbfc;
$color-blue-light: #5282aa;
$color-gray: #999;
$color-gray-light: #666;

@mixin eventFormLabel {
  font-size: 1.5rem;
  width: 4.5rem;
  align-self: center;
}

@mixin eventFormInput {
  width: calc(100% - 6rem);
  height: 2.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  resize: none;
  border: none;
  outline: none;
}

@mixin eventFormRow {
  color: white;
  font-size: 1.5rem;
}

@mixin headerButtons {
  transition: all 0.3s;
  width: 5rem;
  height: 5rem;
  background-color: $color-primary-blue;
  background-size: contain;
  padding: 0.3em;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  &:hover {
    background-color: $color-blue-light;
  }
}

@mixin eventWindows {
  width: 90%;
  margin-top: 1rem;
  background-color: $color-primary-blue;
  color: white;
  font-size: 2.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@mixin button {
  height: 5rem;
  width: 90%;
  margin-top: 1rem;
  background-color: $color-primary-blue;
  color: white;
  font-size: 2.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@mixin groupButtons {
  background-color: white;
  width: 25rem;
  margin: 0rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5em;
  cursor: pointer;
}

@mixin lightLabel {
  background-color: white;
  width: 30rem;
  display: flex;
  margin: 1.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% * 0.8;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  height: 100vh;
  height: 100%;
  position: relative;
}

#toggleBalanceArea:checked ~ .balance {
  left: 0;
}

#toggleGroupArea:checked ~ .group {
  left: 0;
}

#toggleGroupArea,
#toggleBalanceArea {
  display: none;
}

.container {
  background-color: #bad1e4c0;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: relative;
  overflow: hidden;

  //GROUP AREA
  .group {
    background-color: $color-primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33rem;
    height: 100%;
    z-index: 1;
    left: -33rem;
    transition: left 0.5s ease-in-out;
    position: absolute;
    border-radius: 0px 10px 10px 0px;

    &__title {
      color: white;
      font-size: 3rem;
      text-align: center;
      margin: 1.5rem 0px;
    }

    &__btn {
      &--close {
        color: white;
        font-size: 4rem;
        width: 4rem;
        height: 5rem;
        background-color: inherit;
        border: none;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: 6rem auto 5rem;
      grid-template-rows: 3.5rem 2.5rem;
      grid-column-gap: 0.8rem;
      cursor: pointer;

      .group__item {
        &--icon {
          grid-row: 1/3;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-gray;
          border-radius: 1rem;

          & span {
            font-size: 3rem;
            color: #444;
            font-weight: bold;
          }
        }
        &--headline {
          grid-row: 1;
          grid-column: 2;
          font-size: 2.5rem;
          width: 10.5rem;
          border: none;
          outline: none;
          cursor: pointer;
        }
        &--subhead {
          grid-row: 2/3;
          grid-column: 2/3;
          width: 10.5rem;
          font-size: 1.5rem;
          color: $color-gray-light;
          align-self: center;
        }

        &--revise {
          width: 2rem;
          height: 2rem;
          grid-row: 1/2;
          grid-column: 3/4;
          align-self: center;
          justify-self: flex-end;
        }

        &--delete {
          width: 2rem;
          height: 2rem;
          grid-row: 2/3;
          grid-column: 3/4;
          align-self: center;
          justify-self: flex-end;
        }

        &--submit {
          grid-row: 2;
          grid-column: 3;
          height: 3rem;
          width: 4.5rem;
          color: white;
          background-color: $color-primary-light;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          align-self: flex-end;
          justify-self: center;

          &:hover {
            background-color: #2a567a;
          }
        }
      }
    }

    .group-create {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      &__btn,
      &__form {
        @include groupButtons();
      }
    }

    .group-list {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      &__info {
        @include groupButtons();
        &:hover,
        &.active {
          .group__item--icon {
            background-color: rgb(228, 139, 23);
            transition: all 0.3s;
          }
        }
      }
    }
  }

  // ---EVENT AREA---
  .event {
    width: 100%;
    height: 100%;
    background-color: $color-primary-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overscroll-behavior: contain;
    position: relative;

    &__header {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
    }

    &__title {
      color: white;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
    }

    &__btns {
      display: flex;

      .event__btn {
        &--deleteAllInfo,
        &--usersMngt,
        &--balance,
        &--groups {
          @include headerButtons();
        }

        &--gotoTop {
          transition: all 0.3s;
          width: 5rem;
          height: 5rem;
          background-color: $color-blue-light;
          background-size: contain;
          padding: 0.3em;
          margin-right: 0.8rem;
          border-radius: 1rem;
          cursor: pointer;
          position: absolute;
          bottom: 3%;
          right: 3%;
          opacity: 0.5;
          z-index: 3;
        }
      }
    }

    .event-form {
      @include eventWindows();
      padding: 0rem 1.5rem 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 6rem auto auto auto;
      grid-template-areas:
        'spend spend date date'
        'type type name name'
        'payer payer note note'
        'sharer sharer sharer submit';
      align-items: flex-end;
      justify-items: center;
      grid-row-gap: 1.1rem;
      margin-bottom: 1rem;

      &__row {
        &--spend {
          width: 100%;
          grid-area: spend;
          & input {
            @include eventFormInput();
            height: 5rem;
            width: 100%;
            text-align: right;
            font-size: 4rem;
            padding-right: 0.25em;
          }
        }

        &--date {
          grid-area: date;
          text-align: right;
          width: 100%;
          display: flex;
          justify-content: space-between;
          & input {
            @include eventFormInput();
            text-align: center;
            cursor: pointer;
          }
          & label {
            @include eventFormLabel();
          }
        }

        &--type {
          grid-area: type;
          width: 100%;
          display: flex;
          justify-content: space-between;
          & select {
            @include eventFormInput();
            text-align: center;
          }

          & label {
            @include eventFormLabel();
          }
        }

        &--name {
          grid-area: name;
          text-align: right;

          width: 100%;
          display: flex;
          justify-content: space-between;
          & input {
            @include eventFormInput();
            text-align: right;
            padding-right: 10px;
          }
          & label {
            @include eventFormLabel();
          }
        }

        &--note {
          grid-area: note;
          text-align: right;
          width: 100%;
          display: flex;
          justify-content: space-between;
          & input {
            @include eventFormInput();
            text-align: right;
            padding-right: 10px;
          }
          & label {
            @include eventFormLabel();
          }
        }

        &--payer {
          grid-area: payer;
          width: 100%;
          display: flex;
          justify-content: space-between;
          & select {
            @include eventFormInput();
            text-align: center;
          }
          & label {
            @include eventFormLabel();
          }
        }

        &--sharer {
          height: auto;
          grid-area: sharer;
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.2rem;

          & label {
            @include eventFormLabel();
          }

          & div {
            width: calc(100% - 6rem);
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem 1rem;

            & input {
              display: none;
            }

            .event-form__input--sharer {
              transition: all 0.3s;
              background-color: #2a567a;
              padding: 0.3rem 0.5rem;
              border-radius: 0.5rem;
              cursor: pointer;
              width: auto;

              &.checked {
                background-color: $color-blue-light;
              }
            }
          }
        }
      }
      &__btn {
        display: none;
        &--submit {
          transition: all 0.3s;
          grid-area: submit;
          align-self: center;
          justify-self: center;
          font-size: 1.5rem;
          width: 100%;
          padding: 0rem 0.5rem;
          color: white;
          background-color: #2a567a;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: $color-blue-light;
          }
        }
      }
    }

    // ---EVENT AREA---
    .event-list {
      width: 100%;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0.8rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-primary-light;
        border-radius: 1rem;
        margin-top: 1rem;
      }

      &::-webkit-scrollbar-track-piece,
      &::-webkit-scrollbar-corner {
        opacity: 0;
      }

      &::-webkit-scrollbar:horizontal {
        display: none;
      }

      .event__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--dateHeader {
          text-align: center;
          color: white;
          padding: 1em;
          background-color: $color-primary-blue;
          border-radius: 1rem;
          opacity: 70%;
        }

        .event__infos {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;

          .event__info {
            @include eventWindows();
            display: grid;
            padding: 1.5rem 1.8rem;
            grid-template-columns: 1.5fr 1fr 1fr 1fr;
            grid-template-rows: 2rem 10rem 2rem;
            position: relative;
            grid-template-areas:
              'date . . button'
              'product price price price'
              'payer sharer sharer sharer';
            align-items: center;
            justify-items: left;
            grid-column-gap: 0.5rem;

            &:last-child {
              margin-bottom: 1rem;
            }

            &__btn--delete {
              grid-area: button;
              justify-self: flex-end;
              align-self: center;
              &:hover {
                cursor: pointer;
              }
            }

            &--group {
              grid-area: date;
              top: 1rem;
              color: #ccc;
              font-size: 1.5rem;
            }

            .event__product {
              grid-area: product;
              display: flex;
              flex-direction: column;
              color: white;
              letter-spacing: 0.05em;
              .event__info {
                &--type {
                  font-size: 1.5rem;
                }

                &--productName {
                  font-size: 2rem;
                }

                &--note {
                  font-size: 1rem;
                  color: $color-gray;
                }
              }
            }

            &--spend {
              grid-area: price;
              color: white;
              display: flex;
              align-items: baseline;
              justify-items: flex-end;
              justify-self: flex-end;
              align-self: center;

              &-value {
                font-size: 8rem;
                margin-right: 0.5rem;
              }

              &-unit {
                font-size: 2rem;
              }
            }

            &--payer {
              grid-area: payer;
              display: flex;
              font-size: 1.5rem;
              color: white;
            }

            &--sharer {
              grid-area: sharer;
              display: flex;
              font-size: 1.5rem;
              color: white;
              justify-self: flex-start;
            }
          }
        }
      }
    }
  }
}

// ---BALANCE AREA---
.balance {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-primary-dark;
  height: 100%;
  width: 40rem;
  overflow: scroll;
  z-index: 1;
  left: -40rem;
  position: absolute;
  transition: left 0.5s ease-in-out;
  border-radius: 0px 1.2rem 1.2rem 0px;
  padding-left: 0.8rem;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #5c7388;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner {
    opacity: 0;
  }

  &::-webkit-scrollbar:horizontal {
    display: none;
  }

  &__btn {
    &--close {
      color: white;
      font-size: 4rem;
      width: 4rem;
      height: 5rem;
      background-color: inherit;
      border: none;
      position: absolute;
      top: 0.5rem;
      right: 0.2rem;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    &--title {
      text-align: center;
      font-size: 3rem;
      color: white;
      margin-bottom: 1.5rem;
    }
  }

  &__infos {
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0.8rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary-light;
      border-radius: 1rem;
      margin-top: 1rem;
    }
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-corner {
      opacity: 0;
    }
    &::-webkit-scrollbar:horizontal {
      display: none;
    }

    .balance__info {
      @include lightLabel();
      justify-content: space-between;
      margin: 1.5rem 0.8rem 0rem 1.6rem;

      &:first-child {
        margin-top: 0rem;
      }
    }
  }

  .debt {
    &__content {
      display: flex;
      flex-direction: column;
      &--title {
        text-align: center;
        font-size: 3rem;
        color: white;
        margin: 1rem 0px;
      }

      margin-top: 2rem;
    }
    &__infos {
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0.8rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-primary-light;
        border-radius: 1rem;
        margin-top: 1rem;
      }
      &::-webkit-scrollbar-track-piece,
      &::-webkit-scrollbar-corner {
        opacity: 0;
      }
      &::-webkit-scrollbar:horizontal {
        display: none;
      }
      .debt__info {
        @include lightLabel();
        justify-content: center;
        margin: 1.5rem 0.8rem 0rem 1.6rem;
        letter-spacing: 0.04em;

        &:first-child {
          margin-top: 0rem;
        }

        &:last-child {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.userMngt {
  width: 40rem;
  transition: all 0.5s, transform 1s;
  height: auto;
  background-color: $color-blue-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  display: grid;
  grid-template-rows: 7rem auto minmax(3rem, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header header header'
    'users users users users'
    'create create create create';
  &::-webkit-scrollbar {
    display: none;
  }
  align-items: center;
  justify-items: center;
  z-index: 1;

  &-header {
    display: flex;
    grid-area: header;
    width: 80%;
    justify-content: space-between;
    &__title {
      grid-area: title;
      font-size: 3.5rem;
      font-weight: 450;
      color: $color-primary-blue;
    }

    &__btn {
      &--createNewUser {
        grid-area: btn;
        @include button();
        height: 3rem;
        width: 10rem;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__btn {
    &--close {
      height: 3rem;
      width: 3rem;
      position: absolute;
      font-size: 3rem;
      right: -1.5rem;
      top: -0.5rem;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .user {
    &__infos {
      grid-area: users;
      width: 80%;
      max-height: 29rem;
      border-radius: 5px;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0.3rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-primary-blue;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track-piece,
      &::-webkit-scrollbar-corner {
        opacity: 0;
      }

      &::-webkit-scrollbar:horizontal {
        display: none;
      }
    }

    &__info {
      border-radius: 0.5rem;
      background-color: white;
      margin-top: 1rem;
      font-size: 2.5rem;
      padding: 0rem 1rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:first-child {
        margin-top: 0px;
      }

      &--name {
        width: 100%;
        font-size: 2rem;
        outline: none;
        border: none;
      }

      &__btns {
        display: flex;
        width: 80%;
        justify-content: flex-end;
        .user__info__btn--revise,
        .user__info__btn--delete {
          transition: all 0.3s;
          height: 2.5rem;
          width: 2.5rem;
          background-size: contain;
          margin-right: 0.5rem;
          &:hover {
            cursor: pointer;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &-form {
      display: flex;
      grid-area: create;
      align-items: center;
      width: 80%;
      justify-content: space-between;
      margin: 1rem 0 2rem 0;
      border-top: 0.2rem solid $color-primary-dark;
      padding-top: 1rem;
      &__input {
        &--newUserName {
          width: 100%;
          background-color: white;
          border-radius: 0.5rem;
          background-color: white;
          font-size: 2.5rem;
          padding: 0rem 1rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: none;
          font-size: 2rem;
          outline: none;
          border: none;
        }
      }
      &__btn {
        &--OK {
          position: absolute;
          right: 4.5rem;
          height: 3rem;
          width: 15%;
          color: white;
          background-color: #2a567a;
          border-radius: 0.5rem;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: #2a567a;
          }
        }
      }
    }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

@media (max-width: 320px) {
  html {
    font-size: 62.5% * 0.5;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
    overflow: visible;

    .group {
      grid-column: 1;
      position: static;
      width: auto;
      left: 0;
      border-radius: 0;

      &__btn {
        &--close {
          display: none;
        }
      }
    }

    .event {
      grid-column: 2;
      width: auto;
      position: relative;

      &__btn {
        &--gotoTop {
          width: 2rem;
          height: 2rem;
          bottom: 1vw;
          right: 1vw;
        }
        &--balance,
        &--groups {
          display: none;
        }
      }
    }

    .balance {
      grid-column: 3;
      right: 0;
      width: auto;
      position: static;
      border-radius: 0px;

      &__btn {
        &--close {
          display: none;
        }
      }
    }
  }
}
